<aside class="sidebar">

    <div class="logo">
        <i class="bi bi-box-fill"></i>
        <span>VersERP</span>
    </div>

    <nav>

        <a href="#">
            <i class="bi bi-speedometer2"></i>
            <span>Dashboard</span>
        </a>

        <a href="#">
            <i class="bi bi-people"></i>
            <span>Pessoas</span>
        </a>

        <a href="#">
            <i class="bi bi-file-earmark-text"></i>
            <span>Comercial</span>
        </a>

        <a href="#">
            <i class="bi bi-cash-stack"></i>
            <span>Financeiro</span>
        </a>

        <a href="#">
            <i class="bi bi-cart3"></i>
            <span>Compras</span>
        </a>

        <a href="#">
            <i class="bi bi-bar-chart"></i>
            <span>Relatórios</span>
        </a>

        <a href="#">
            <i class="bi bi-gear"></i>
            <span>Configurações</span>
        </a>

    </nav>

</aside>