<aside class="sidebar">

    <div class="logo">
        <i class="bi bi-box-fill"></i>
        <span>VersERP</span>
    </div>

    <nav>

        <a href="{% url 'core:dashboard' %}">
            <i class="bi bi-speedometer2"></i>
            <span>Dashboard</span>
        </a>

        {% if perms.pessoas.view_pessoa %}
            <a href="{% url 'pessoas:lista' %}">
                <i class="bi bi-people"></i>
                <span>Pessoas</span>
            </a>
        {% endif %}

        {% if perms.comercial.view_proposta %}
            <a
                href="{% url 'comercial:proposta_lista' %}"
                {% if request.resolver_match.app_name == "comercial" %}
                    class="active"
                    aria-current="page"
                {% endif %}
            >
                <i class="bi bi-file-earmark-text"></i>
                <span>Comercial</span>
            </a>
        {% endif %}

        {% if perms.financeiro.view_lancamentofinanceiro %}

            <a href="{% url 'financeiro:index' %}">
                <i class="bi bi-cash-stack"></i>
                <span>Financeiro</span>
            </a>

        {% endif %}

        {% if perms.compras.view_solicitacaocompra %}
            <a href="{% url 'compras:solicitacao_lista' %}" {% if request.resolver_match.app_name == "compras" %}class="active" aria-current="page"{% endif %}>
                <i class="bi bi-cart3"></i>
                <span>Compras</span>
            </a>
        {% endif %}

        <a href="javascript:void(0);" class="sidebar-disabled">
            <i class="bi bi-person-badge"></i>
            <span>RH</span>
        </a>

        <a href="javascript:void(0);" class="sidebar-disabled">
            <i class="bi bi-bar-chart"></i>
            <span>Relatórios</span>
        </a>

        <a href="javascript:void(0);" class="sidebar-disabled">
            <i class="bi bi-gear"></i>
            <span>Configurações</span>
        </a>

    </nav>

</aside>
